<!DOCTYPE html>
<html lang="en" ng-app="WamApp">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="../vendor/angular/angular.js"></script>
    <script src="app.js"></script>
<!--    <link href="../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
   <!-- <link href="../vendor/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/theme.css" rel="stylesheet"> -->
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div ng-controller="loginController">

            <div ng-show="welcomeUser" class="alert alert-info" >Welcome back {{welcomeUser.username}}</div>

            <h2>Login</h2>
            <label for="username">User Name</label>
            <input name="username"
                   ng-model= "user.username"
                   placeholder="mounika"
                   class = "form-control"
                id="username">

            <label for="password">Password</label>
            <input name="password"
                   ng-model= "user.password"
                   placeholder="uppala123"
            class = "form-control"
            id="password">

            <a class="btn btn-default btn-block btn-primary" ng-click="login(user)" role="button">Login</a>
            <a class="btn btn-default btn-block btn-success" href="register.html" role="button">Register</a>
        </div>
    </div>
</body>
</html>